
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WheelX</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/animate.min.css">

    <style>
        .table td{
            text-align: left;
        }
    </style>
  </head>

  <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">WheelX</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/wheels">Wheels</a>
                <a class="nav-link" href="/schedule">Schedule</a>
                <a class="nav-link" href="/trajectory">Trajectory</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Wheels in need of attention!</h1>
           
          </div>

          <table class="table animated fadeInUp" style="margin-top:40px;">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Unit</th>
                <th>Vehicle</th>
                <th>Wheel</th>
              </tr>
            </thead>
            <tbody>
              <!--
              <tr>
                <th scope="row">1</th>
                <td>2010001</td>
                <td>310006</td>
                <td>1</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>2010002</td>
                <td>310009</td>
                <td>2</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>2010001</td>
                <td>310009</td>
                <td>8</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>2010001</td>
                <td>310006</td>
                <td>1</td>
              </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>2010002</td>
                    <td>310009</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>2010001</td>
                    <td>310009</td>
                    <td>8</td>
                </tr>
              -->
                {% for i in range(0, info|length) %}
                <tr>
                  <th scope="row">{{ i }}</th>
                  <td>{{ info[i].unit }}</td>
                  <td>{{ info[i].vehicle }}</td>
                  <td>{{ info[i].axle_position }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>

          
          <div class="mastfoot">
            <div class="inner">
                <p>WheelX by Gavin, Vikash, Adam and Harvey</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-3.1.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
    <script src="/static/tether.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>