
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WheelX</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">

    <script src="/static/Chart.bundle.js"></script>
    <script src="/static/utils.js"></script>

    <style>
        .table td{
            text-align: left;
        }
    </style>
  </head>

  <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">WheelX</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link " href="/wheels">Wheels</a>
                <a class="nav-link active" href="/schedule">Schedule</a>
                <a class="nav-link" href="/trajectory">Trajectory</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Schedule a wheel change</h1>
          </div>

          {# info #}
                {% for i in range(0, info|length) %}
                {% endfor %}

          <div style="width: 100%;text-align: center;margin-top:40px;">
            <canvas id="canvas"></canvas>
        </div>

          <script>

                var barChartData = {
                    labels: ["Monday", "Tuesday", "Wenesday", "Thursday", "Friday", "Saturday", "Sunday"],
                    datasets: [{
                        label: 'Axle 1',
                        backgroundColor: window.chartColors.red,
                        data: [
                            0,
                            0,
                            1,
                            1,
                            0,
                            1,
                            1
                        ]
                    }, {
                        label: 'Axle 2',
                        backgroundColor: window.chartColors.blue,
                        data: [
                        1,
                        0,
                        0,
                        1,
                        1,
                        0,
                        1
                        ]
                    }, {
                        label: 'Axle 3',
                        backgroundColor: window.chartColors.green,
                        data: [
                        1,
                        0,
                        1,
                        1,
                        0,
                        0,
                        0
                        ]
                    }, {
                        label: 'Axle 4',
                        backgroundColor: window.chartColors.orange,
                        data: [
                        1,
                        0,
                        0,
                        1,
                        0,
                        0,
                        0
                        ]
                    }]
            
                };
                window.onload = function() {
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myBar = new Chart(ctx, {
                        type: 'bar',
                        data: barChartData,
                        options: {
                            title:{
                                display:true,
                                text:"Slots Available"
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false
                            },
                            responsive: true,
                            scales: {
                                xAxes: [{
                                    stacked: true,
                                }],
                                yAxes: [{
                                    stacked: true
                                }]
                            }
                        }
                    });
                };
            </script>
            

          
          <div class="mastfoot">
            <div class="inner">
                <p>WheelX by Gavin, Vikash, Adam and Harvey</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-3.1.1.slim.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/jquery.min.js"><\/script>')</script>
    <script src="/static/tether.min.js"></script>
    <script src="/static/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>